.BTC {
    background: fixed;
    background-color: black ;
    width: 50%;
    height: 70%;
    margin: 20px 10px 10px 26%;
}

* {
    text-align: center;
    align-content: center;
    font-family: cursive;
}

ion-input {
    width: 80%;
    margin-left:60px;
    text-align: center;
}

ion-button {
    margin-top: 10px;
    width: 40%;
    font-weight: bold;
}