<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>LIST COINS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="BTC">
  <p>LIST A COIN</p>
  <form [formGroup]="listCoinForm" (ngSubmit)="saveInfo(newCoin.name)">
    <ion-input formControlName="img" placeholder="IMAGE" [(ngModel)]="newCoin.img"></ion-input>
    <ion-input formControlName="id" placeholder="ID" [(ngModel)]="newCoin.id"></ion-input>
    <ion-input formControlName="name" placeholder="NAME" [(ngModel)]="newCoin.name" ></ion-input>
    <ion-input formControlName="price" placeholder="PRICE" [(ngModel)]="newCoin.price" ></ion-input>
    <ion-button type="submit">SAVE</ion-button>
    <ion-button (click)="goToCryptoShop()">GO TO CRYPTO SHOP</ion-button>
  </form>
</div>
</ion-content>
