<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>LIST COINS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="BTC">
  <p>LIST A COIN</p>
  <form [formGroup]="listCoinForm" (ngSubmit)="saveInfo(newCoin.name)">
    <ion-input formControlName="img" placeholder="IMAGE"></ion-input>
    <label *ngIf="listCoinForm.get('img')?.touched && listCoinForm.get('img')?.invalid">Image invalid, please check</label>
    <ion-input formControlName="id" placeholder="ID"></ion-input>
    <label *ngIf="listCoinForm.get('id')?.touched && listCoinForm.get('id')?.invalid && newCoin.id <= 0">id invalid, please check</label>
    <ion-input formControlName="name" placeholder="NAME"></ion-input>
    <label *ngIf="listCoinForm.get('name')?.touched && listCoinForm.get('name')?.invalid">name invalid, please check</label>
    <ion-input formControlName="price" placeholder="PRICE" ></ion-input>
    <label *ngIf="listCoinForm.get('price')?.touched && listCoinForm.get('price')?.invalid">Price invalid, please check</label>
    <ion-input formControlName="description" placeholder="DESCRIPTION" ></ion-input>
    <label *ngIf="listCoinForm.get('description')?.touched && listCoinForm.get('description')?.invalid">Description invalid, please check</label>
    <ion-input formControlName="date" placeholder="DATE" ></ion-input>
    <label *ngIf="listCoinForm.get('date')?.touched && listCoinForm.get('date')?.invalid">Date invalid, please check</label>
    <ion-button type="submit">SAVE</ion-button>
    <ion-button (click)="goToCryptoShop()">GO TO CRYPTO SHOP</ion-button>
  </form>
</div>
</ion-content>
