.BTC {
    background: fixed;
    background-color: black ;
    width: 50%;
    height: 70%;
    margin: 20px 10px 10px 26%;
}

ion-button {
    --background: #0374ff;
    color: white;
}

ion-button:hover {
    --background: white;
    color: black;
    font-weight: bold;
}

* {
    text-align: center;
    align-content: center;
    font-family: cursive;
}
