<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CRYPTO SHOP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>WELCOME TO THE PIPE'S CRYPTO SHOP</h1>
  <ul>Click on the page where you want to GO
    <br>
    <ion-button href="http://localhost:8100/list-coins">List Coin</ion-button>
    <br>
    <ion-button href="http://localhost:8100/crypto-shop">Crypto Shop (Available Items)</ion-button>
    <br>
    <ion-button href="http://localhost:8100/shopping-cart">Shopping Cart</ion-button>
  </ul>
</ion-content>
