<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CRYPTO SHOP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<app-crypto-shop></app-crypto-shop>
<!--
<div class="ETH">
  <h1>NEXT </h1>
  <h1>COIN</h1>
  <h1>COMING</h1>
  <h1>VERY</h1>
  <h1>SOON.</h1> 
  <h1>STAY TUNED!!!</h1>
  
  <ion-img src="https://t4.ftcdn.net/jpg/07/72/94/23/360_F_772942398_uKpxMOAqDG2cunliJkDAn31b2LHzHKQU.jpg" class="ethImg"></ion-img>
  <ion-button class="changeBtn" size="small">
    <ion-icon slot="start" name="star"></ion-icon>
    Change Image</ion-button>
  <ion-input label="User: " value="ETH"></ion-input>
  <ion-input label="Delivery Address: " value="JANEIRO STREET"></ion-input>
  <ion-input label="Country: " value="BR"></ion-input>
  <ion-input label="City: " value="RIO DE JANEIRO"></ion-input>
  <ion-input label="Language: " value="PR"></ion-input>
  <ion-input label="Currency: " value="REAL BR"></ion-input>
</div>
-->
</ion-content>
