<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CRYPTO SHOP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>WELCOME TO THE PIPE'S CRYPTO SHOP</h1>
  <ul>Click on the page where you want to GO
    <br>
    <ion-button (click)="goToList()">LIST A COIN</ion-button>
    <br>
    <ion-button (click)="goToProfile()">PROFILE PAGE</ion-button>
    <br>
    <ion-button (click)="goToShop()">CRYPTO SHOP (AVAILABLE ITEMS)</ion-button>
    <br>
    <ion-button (click)="goToCart()">SHOPPING CART</ion-button>
  </ul>
</ion-content>
