.BTC {
    background: fixed;
    background-color: black ;
    width: 80%;
    display: inline-block;
    margin-top: 50px;
}

* {
    text-align: center;
    align-content: center;
    font-family: cursive;
}

ion-input {
    display: inline-block;
    width: 75%;
    text-align: center;
}

ion-button {
    margin-top: 10px;
    width: 40%;
    font-weight: bold;
}

.labels {
    width: 100%;
}