.coin {
    background-color: black ;
    width: 25%;
    height: 450px;
    margin: 10px 10px 10px 10px;
    border: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

ion-input {
    width: 50%;
    margin-left: 25%;
}