* {
    font-family: cursive;
}

.header {
    text-align: center;
}

.profile {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    text-align: center;
    background: fixed;
    background-color: black;
    padding: 1%;
}

.profileLbl, .nameLbl, .mailLbl, .locationLbl, .titleLbl {
    background: fixed;
    font-weight: bold;
    font-size: 15px;
    text-align: start;
    margin-left: 10%;
}


img {
    width: 10%;
    border-radius: 40%;
}

.name, .mail, .location, .title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: fixed;
    text-align: center;
    width: 50%;
    margin: 10px 10px 10px 25%;
}